.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo1 {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: Logo1-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f1d382;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(2, 24, 9);
}

.App-link {
  color: #ea0a0a;
}

.logo1{
  max-width: 130px;
  max-height: 130px;
  border-radius: 65px;
}

@keyframes Logo1-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex{
  display: flex ;
  list-style: none;
  
}

.flex li{
  padding: 20px;
  margin: 10px
}

.round{
  padding: 5rem;
  background-color: greenyellow;
  border-radius: 10rem;
  width: 10rem;
}



@media (prefers-reduced-motion: no-preference) {
  .round {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
